@font-face {
  font-family: 'icomoon';
  src:  url('font-icon.css/icomoon.eot?wmj9at');
  src:  url('font-icon/icomoon.eot?wmj9at#iefix') format('embedded-opentype'),
    url('font-icon/icomoon.ttf?wmj9at') format('truetype'),
    url('font-icon/icomoon.woff?wmj9at') format('woff'),
    url('font-icon/icomoon.svg?wmj9at#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow-detail-icon:before {
  content: "\e900";
  color: #f6b26d;
}
.icon-Arrow-left:before {
  content: "\e901";
  color: #707070;
}
.icon-Arrow-right:before {
  content: "\e902";
  color: #707070;
}
.icon-Card-icon-style-2:before {
  content: "\e903";
}
.icon-Card-icon:before {
  content: "\e904";
}
.icon-Facebook-icon-style-2:before {
  content: "\e905";
}
.icon-Home-icon:before {
  content: "\e906";
}
.icon-Mail-icon:before {
  content: "\e907";
}
.icon-Phone-icon:before {
  content: "\e908";
}
.icon-Play-button-icon:before {
  content: "\e909";
  color: #f6b26d;
}
.icon-Plus:before {
  content: "\e90a";
  color: #707070;
}
.icon-Purchase-icon:before {
  content: "\e90b";
}
.icon-Search-icon:before {
  content: "\e90c";
}
.icon-To-top-icon:before {
  content: "\e90d";
}
.icon-Youtube-icon:before {
  content: "\e90e";
}
