@import "library"
@import "normalize.css"
@import "font.css"
@import "font-icon.css"

.pc
  display: block 

.sp
  display: none 

@media screen and (max-width: 640px)
  .pc
    display: none

  .sp
    display: block

  .wrapper
    min-width: 100%
    overflow: hidden

  #content_page
    +shape($w:100%)
    padding: 0 10px    

  #under
    .hd_content
      padding-bottom: 0

      &.-review-page
        width: 100%

    .under-ttl
      width: 90%
      margin-bottom: 20px
      height: 120px

    .main_content
      width: 100%

    .blog_wrapper
      display: flex
      justify-content: space-between
      flex-wrap: wrap    

    .main-blog_post  
      width: 48% 
      margin-bottom: 0      
      +postShadow
      padding-bottom: 10px
      .blog-image
        position: relative
        float: none
        max-width: none                
        +shape(100%,160px) 
        overflow: hidden
        img       
          +shape($w:100%, $maw: none, $mah: none)             
          +position(absolute,$t: 0,$l: 50%)
          +transform(translate(-50%,0))

      .blog-article-box
        float: none
        width: 100%
        margin-top: 20px
        padding: 0 10px

      .blog-title
        font-size: 18px
        margin-top: 15px     

      .blog-article
        margin-top: 20px  
        max-height: none
        height: 80px
    // end main-blog_post

    .sub-blog_post      
      +shape(48%,auto)
      float: none
      margin-right: 0
      margin-top: 30px            
      padding-bottom: 10px
      &:nth-child(3n+4)
        margin-right: 0     
      &:nth-child(-n+2) 
        margin-top: 0
      .blog-image
        position: relative
        +shape(100%,160px) 
        overflow: hidden
        img
          position: static
          +shape($h: 100%, $maw: none, $mah: none)          
          +position(absolute,$t: 0)
          +transform(translate(-50%,0))          

      .blog-article-box        
        padding: 0 10px

      .blog-article
        max-height: none
        height: 80px        
    // sub-blog_post

    .post-btn-outer
      text-align: center

    .post-btn
      margin-top: 20px
    
    .blog-detail
      &__content
        padding: 0 7px
        margin-bottom: 30px

      &__title
        margin-top: 10px

      &__main-image
        margin-bottom: 20px

      &__sub-images
        margin-bottom: 20px        
        img
          width: 48%

      &__list
        padding: 0

      &__list-item
        margin: 12px

        &__title
          margin-top: 10px

        &__btn-outer
          text-align: center

      &__slider
        margin-top: 15px
    //end blog detail
    
    .review-content
      padding: 10px 5% 0 0

    .review-slider
      &__list-outer   
        &:before
          +shape(339px,369px)

      &__list-outer   
        width: 100%
      
      &__list-item
        margin: 0 30px

      &__img
        padding: 5px

      &:hover
        .review-slider__arrow-left,.review-slider__arrow-right      
          display: none !important        

    .review-feedback
      margin-top: 90px

      &__customer-name
        font-size: 20px
        line-height: 26px

    .-quote-content
      padding: 5px 30px

      &:before, &:after
        +shape(20px, 16px)
    //end review page

@media screen and (max-width: 580px)

  #under
    .main-blog_post      
      .blog-image
        height: 150px
        img
          +shape($w: auto, $h: 100%)
    // end main-blog_post

    .sub-blog_post
      .blog-image
        height: 150px
    //end sub-blog_post

    .post-btn
      padding: 7px 20px
  
@media screen and (max-width: 520px)
  #under
    .under-ttl
      height: 110px
      font-size: 22px

    .blog-detail
      &__title
        margin-top: 10px
        font-size: 20px

      &__main-image
        margin-bottom: 10px

      &__sub-images
        margin-bottom: 10px        
        img
          width: 49%

      &__article
        margin-bottom: 10px

      &__list-item
        &__btn
          padding: 5px 20px
    //end blog detail

    .review-content      
      &__title
        font-size: 22px
        line-height: 26px

    .review-slider
      &__list-outer   
        &:before
          +shape(339px,369px)      
      
      &__list-item
        margin: 0 20px      
    //end review page
        
@media screen and (max-width: 500px)
  #under
    
    .review-content      
      &__title
        font-size: 20px
        line-height: 24px

    .review-slider
      &__list-outer   
        &:before
          +shape(279px,309px)

    .review-feedback
      margin-top: 80px

      &__customer-name
        font-size: 18px
        line-height: 22px

    .-quote-content
      padding: 0 30px
      margin-top: 10px
    //end review page

@media screen and (max-width: 480px)

  #under
    .main-blog_post      
      .blog-image
        height: 120px
        img
          +shape($w: 100%,$h: auto)
    // end main-blog_post

    .sub-blog_post
      .blog-image
        height: 120px
    //end sub-blog_post

    .blog-detail

      &__list-item
        margin: 10px
          
        &__btn
          padding: 5px 20px

        &__title
          font-size: 18px
          line-height: 22px

        &__article
          display: none

      &__slider
        margin-top: 15px
    //end blog detail

    .review-slider
      &__list-outer   
        &:before
          +shape(249px,279px)
    //end review page

@media screen and (max-width: 425px)

  #content_page
    padding: 0 5px
  #under
    .under-ttl
      height: 90px
      font-size: 20px

    .main-blog_post  
      width: 49%     
      .blog-title 
        margin-top: 10px
        font-size: 14px
        a
          line-height: 17px
      .blog-article
        display: none
      .post-btn-outer
        display: none
    // end main-blog_post

    .sub-blog_post
      width: 49%   
      margin-top: 20px  
      .blog-title 
        margin-top: 10px
        font-size: 14px 
        a
          line-height: 17px
      .blog-article
        display: none        
      .post-btn-outer
        display: none

    .blog-post-time
      margin-top: 10px
    //end sub-blog_post

    .blog-detail

      &__list-item
        margin: 5px

        &__title
          font-size: 16px
          line-height: 20px

        &__btn
          font-size: 14px
          padding: 3px 15px
    //end blog detail

    .review-content
      display: none

    .review-slider
      margin-top: 70px
      &__list-outer   
        &:before
          +shape(259px,289px)

      &__list-item
        margin: 0 10px

    .review-feedback      
      &__customer-name
        font-size: 16px
        line-height: 20px
    //end review page

@media screen and (max-width: 375px)
  
  #under
    .main-blog_post      
      .blog-image
        height: 110px
        img
          +shape(auto,100%)
    // end main-blog_post

    .sub-blog_post
      .blog-image
        height: 110px
        img
          +shape(auto,100%)
    //end sub-blog_post

    .blog-post-time
      &:before
        font-size: 14px

    .blog-detail
      &__sub-images
        margin-bottom: 5px
    //end blog detail  

    .review-slider
      margin-top: 80px

      &__list-outer
        &:before
          +shape(239px,269px)

      &__img              
        padding: 3px
    //end review page

@media screen and (max-width: 320px)

  #under
    .main-blog_post      
      .blog-image
        height: 90px
    // end main-blog_post

    .sub-blog_post
      .blog-image
        height: 90px
    //end sub-blog_post

    .blog-detail

      &__list-item
        margin: 5px

        &__btn-outer
          display: none 
    //end blog detail