@import "library"
@import "normalize.css"
@import "font.css"
@import "font-icon.css"


.center
  text-align: center

body
  font-family: UTM-AVO!important
a
  text-decoration: none
.wrapper
  min-width: 1260px
  overflow: hidden
.content
  +shape($w:1170px)
  margin: 0 auto
.clear
  clear: both

.ct_product
  .it_pd
    +shape($w:33.33%,$fl:left)
    padding: 0 15px
    margin-bottom: 30px
    .ct_itpd
      .img_it
        +position(relative)
        +shape($ov:hidden)
        img
          +transition(all 500ms ease-in-out)
        .hv_txt
          transition: all 300ms
          +position(absolute,$l:0,$t:0)
          +shape($w:100%,$h:100%,$bk:url('../images/course.png'),$opa:0)
          p
            +position(absolute,$l:0,$b:0)
            +shape($w:100%)
            text-align: center
            transition: all 500ms
            span
              padding: 0 10px
              cursor: pointer
              position: relative
              text
                +position($pos:absolute,$l:-18px,$t:-67px)
                display: inline-block
                padding-top: 9px
                +shape($w:112px,$h:36px,$clt:#707070,$bk:#ffffff,$bdr:7px,$opa:0)
                +font($fz:14px)
                &:after
                  content: ''
                  +position($pos:absolute,$b:-10px,$l:0,$r:0)
                  +shape($w:0,$h:0)
                  margin: 0 auto
                  border-left: 9px solid transparent
                  border-right: 9px solid transparent
                  border-top: 13px solid #ffffff
              i
                display: table-cell
                +shape($w:52px,$h:52px,$bk:#fff,$bdr:50%,$clt:#F6B26D)
                vertical-align: middle
                margin: 0 auto
                transition: all 500ms
              &:hover
                text
                  +shape($opa:1)
                i
                  +shape($bk:#F6B26D,$clt:#ffffff)
      .txt_it
        background: #fff
        padding: 25px 22px 28px 22px
        +shadow($sd:0px 1px 10px -1px rgba(0,0,0,0.16))
        h3
          margin: 0 0 10px 0
          +font($fz:24px,$fm:UTM-AVOBOLD,$cl:#484848)
        h4
          +font($fz:16px,$fm:UTM-AVO,$cl:#484848)
        .price_pd
          margin-top: 25px
          span
            +font($fz:30px,$fm:UTM-AVOBOLD,$cl:#F6B26D)
          button
            +shape($bk:#F6B26D,$clt:#ffffff,$outline:none,$bdr:5px,$w:120px,$h:35px,$border:none,$fl:right)
            +font($fz:16px)
            cursor: pointer
            transition: all 300ms
            &:hover
              +shape($bk:#ffffff,$clt:#F6B26D,$outline:none,$bdr:5px,$w:120px,$h:35px,$border:#F6B26D solid 1px,$fl:right)
      &:hover
        .txt_it
          +shadow($sd:0px 1px 9px 2px rgba(246,178,109,0.3))
        .img_it
          img
            transform: scale(1.2)
          .hv_txt
            p
              transform: translateY(-20px)
            +shape($w:100%,$h:100%,$bk:url('../images/course.png'),$opa:1)
.see_all
  clear: both
  text-align: center
  a
    +font($fz:16px,$fm:UTM-AVO,$cl:#F6B26D)
.slide_general
  .icon-Arrow-left
    +adjust_mid($pos:absolute,$cord:y)
    +position($pos:absolute,$l:0px)
    +font($fz:45px,$cl:#707070)
    cursor: pointer
    &:hover
      +font($cl:#F6B26D)
  .icon-Arrow-right
    +adjust_mid($pos:absolute,$cord:y)
    +position($pos:absolute,$r:0px)
    +font($fz:45px,$cl:#707070)
    cursor: pointer
    &:hover
      +font($cl:#F6B26D)
header
  position: relative
  height: 80px
  padding: 5px 0  
  border-bottom: 2px solid $color-gray-light
  z-index: 2
  .mobile-toggle
    +position($pos: absolute,$l: 15px,$b: 8px)
    +shape($w: 40px,$h: 40px)
    cursor: pointer
    z-index: 99
    display: none
    .button_toggle
      position: relative
      .line
        +position($pos: absolute, $t: 0, $l: 0)
        +shape($w: 40px,$h: 4px,$bdr: 4px,$bk: #F6B26D)
        transition: all 0.25s ease-in-out
        &:nth-child(2)
          top: 8px
        &:nth-child(3)
          top: 16px
      .line-close-1
        -webkit-transform: rotate(45deg) translate(8px, 7px)
        -ms-transform: rotate(45deg) translate(8px, 7px)
        transform: rotate(45deg) translate(8px, 7px)
      .line-close-3
        -webkit-transform: rotate(-45deg) translate(4px, -3px) 
        -ms-transform: rotate(-45deg) translate(4px, -3px)
        transform: rotate(-45deg) translate(4px, -3px)
      .line_hidden
        opacity: 0
  .inner_hd    
    width: 1140px
    margin: 0 auto
    text-align: center    
    +clearfix 
    .left_hd
      +shape($w:80px,$fl:left)
    .mid_hd
      max-width: 950px
      display: inline-block
      text-align: center
      padding-top: 28px
      .search_Mb
        display: none
      nav
        >ul          
          li
            display: inline-block
            position: relative
            padding: 0 25px
            +font($fz:16px,$fm:UTM-AVOBOLD)
            a
              color: #707070
              display: block
            span
              display: none
              transition: all 500ms
            >ul
              +shape($w:110%,$bk:#fff,$opa:0)
              +position(absolute,$l:20px,$t:20px)
              +transition(all 300ms ease-in-out)
              z-index: -1
              display: none
              +shadow($sd:0px 1px 10px -1px rgba(0,0,0,0.16))
              >li
                +font($tc:left)
                padding: 15px 10px 
                display: block
                border-bottom: solid 1px #F6B26D
                ul
                  +shape($w:110%,$bk:#fff)
                  +position(absolute,$l:101%,$t:0px)
                  z-index: 20
                  +shadow($sd:0px 1px 10px -1px rgba(0,0,0,0.16))
                &:hover
                  +shape($bk:#F6B26D)
                  >a
                    +font($cl: #fff)
                &:last-child
                    border: none
            &:hover
              >ul
                z-index: 20
                display: block
                +shape($w:110%,$bk:#fff,$opa:1)


    .right_hd
      +shape($fl:right)
      padding-top: 28px
      ul
        padding-right: 10px
        li
          display: inline-block
          padding: 0 12px
          position: relative
          cursor: pointer
          .icon-Search-icon
            color: #F6B26D
          .icon-Card-icon-style-2
            position: relative
            span
              +shape($w:16px,$h:16px,$bdr:50%,$bk:#FF3B3B,$clt: #fff)
              +position(absolute,$r:-8px,$t:-10px)
              display: block
              font-size: 13px
          .search
            padding-top: 25px 
            +position(absolute,$l:-295px,$b:-58px)
            +shape($w:330px,$opa:0)
            +transition(all 300ms ease-in-out)
            cursor: pointer
            z-index: -1
            form
              +shape($w:100%,$ov:hidden,$bdr: 10px)
              position: relative
              input
                +shape($w:100%,$h:40px,$ov:hidden,$border:none,$outline:none,$bk:#f6f6f6)
                padding: 0 12px
              button
                +position(absolute,$r:0,$t:0)
                +shape($h: 100%,$w:65px,$border:none,$outline:none,$bk:#F6B26D,$clt:#ffffff)
          &:last-child
            padding-right: 0
            .shoping_cart
              padding-top: 44px
              +position(absolute,$r:-20px,$t:14px)
              +shape($w:420px,$opa: 0)
              +transition(all 300ms ease-in-out)
              z-index: -1
              text-align: left
              display: none
              >h3
                +shape($bk:#484848)
                +font($fz:16px,$cl:#fff,$fm:UTM-AVOBOLD)
                padding: 10px 20px
                span
                  display: inline-block
                  +shape($w:49%)
                  &:last-child
                    text-align: right
              .l_prdcart
                position: relative
                +shape($bk:#fff)
                padding-bottom: 5px
                .pd_crt
                  +shape($h: 280px)
                  padding-top: 20px
                  .ct_lcrt
                    position: relative
                    padding: 0 32px 0 20px
                    +shape($mah: 240px,$ov: scroll)
                    .it_cart
                      clear: both
                      padding: 20px 0
                      border-bottom: solid 1px #EFEFEF
                      .img_itc
                        +shape($w:22%,$dl: inline-block)
                      .txt_itc
                        padding-left: 10px
                        +shape($w:76%,$dl: inline-block)
                        h3
                          +font($fz:18px,$cl:#707070,$fm:UTM-AVO)
                          margin-bottom: 12px
                        h4
                          +font($fz:16px,$cl:#484848,$fm:UTM-AVO)
                          margin-bottom: 12px
                        p
                          +font($fz:24px,$cl:#F6B26D,$fm:UTM-AVOBOLD)
                    &:nth-last-of-type(1)
                      border-bottom: none
                      &:nth-child(1)
                        padding-top: 0
                    .ps-scrollbar-y-rail
                      display: block!important
                      right: 20px!important
                      +shape($w:7px!important,$bk:rgba(46,46,46,0.1),$opa: 1!important)
                      .ps-scrollbar-y
                        +shape($w:7px!important,$bk:#F6B26D)
                      
                .total_cart
                  padding: 0 20px
                  .ct_tt
                    padding: 15px 0
                    +shape($bk: #F6F6F6,$bdr: 7px)
                    +font($fz:16px,$fm:UTM-AVOBOLD,$cl:#484848)
                    .txt_tt
                      padding: 0 20px
                      +shape($w:40%,$dl: inline-block,$bk: #F6F6F6)
                    .price_tt
                      padding: 0 20px
                      +shape($w:58%,$dl: inline-block)
                      +font($tc: right,$cl:#F6B26D)
                .bt_cart
                  padding: 0 20px
                  .ct_tt
                    margin-top: 20px
                    +font($tc: center,$fm:UTM-AVOBOLD)
                    .btn_cart
                      padding: 15px
                      +transition(all 300ms ease-in-out)
                      +font($cl:#F6B26D)
                      +shape($w:49%,$dl: inline-block,$border: solid 1px #F6B26D,$bdr: 5px,$bk: #fff)
                      i
                        margin-right: 12px
                      &:hover
                        +shape($bk: #F6B26D)
                        +font($cl:#fff)
              &:after
                +shape($w:0,$h:0)
                +position(absolute,$r:20px,$t: 34px)
                content: ''
                border-left: 15px solid transparent
                border-right: 15px solid transparent
                border-bottom: 12px solid #484848
          &:nth-child(2)
            margin-left: 15px
            position: relative
            >ul
              display: none
              padding-top: 10px
              +position($pos: absolute,$t: 20px,$l: 0)
              li
                +shape($w: 40px,$h: 22px)
                padding: 0
                margin-left: 7px
          &:hover
            .search
              +shape($opa:1)
              z-index: 30 
            .shoping_cart
              +shape($opa:1)
              z-index: 30  
              display: block  
            .lang
              display: block
.slick-dots
  li
    button
      &:before
        +font($fz: 10px)
  .slick-active
    button
      &:before
        +font($cl: #F6B26D,$fz: 10px)
#banner
  margin: 0 auto
  position: relative
  .slick-list
    position: relative
    &:after
      +position(absolute,$l:0,$t:0)
      content: ''
      z-index: 1
      +shape($w:100%,$h:158px)
      background: url('../../resources/images/sky2.png')
      background-size: cover
      background-position: center center
    &:before
      +position(absolute,$l:0,$b:0)
      content: ''
      z-index: 1
      +shape($w:100%,$h:136px)
      background: url('../../resources/images/sky1.png')
      background-size: cover
      background-position: center center
  .icon-Arrow-left
    +adjust_mid($pos:absolute,$cord:y)
    +position($pos:absolute,$l: 5vw)
    +font($fz:60px,$cl:#fff)
    cursor: pointer
    z-index: 100
    &:hover
      +font($cl:#F6B26D)
  .icon-Arrow-right
    +adjust_mid($pos:absolute,$cord:y)
    +position($pos:absolute,$r: 5vw)
    +font($fz:60px,$cl:#fff)
    cursor: pointer
    z-index: 100
    &:hover
      +font($cl:#F6B26D)
  &:after
    +position(absolute,$r:0,$t:0)
    content: ''
    z-index: 1
    +shape($w:140px,$h:100%)
    background: url('../../resources/images/sky_03.png')
    background-size: cover
    background-position: center center
  &:before
    +position(absolute,$l:0,$t:0)
    content: ''
    z-index: 1
    +shape($w:140px,$h:100%)
    background: url('../../resources/images/sky_01.png')
    background-size: cover
    background-position: center center
  .item_bn
    position: relative
    z-index: 100
    .video_bn
      +position(absolute,$l:0,$t:0,$r:0,$b:0)
      content: ''
      +shape($w:1140px,$h:100%)
      margin: 0 auto
      z-index: 9
      .ct_video
        width: 650px
        +adjust_mid($pos:absolute,$cord:y)
        h3
          +font($fz:20px,$cl:#fff,$fm:UTM-AVOBOLD,$lt:5px,$tc:center,$tsd: 2px 2px 2px #000)
          margin-bottom: 20px
        h4
          +font($fz:20px,$cl:#fff,$fm:UTM-AVO,$tc:center,$tsd: 2px 2px 2px #000,$lh:1.4)
          margin-top: 10px
        #video_banner
          width: 100%
          height: 370px
#index
  .tt_section
    position: relative
    font-size: 36px
    font-family: 'UTM-AVOBOLD'
    color: #F6B26D
    &:after
      +position(absolute,$l:0,$r:0,$b:-30px)
      content: ''
      width: 60px
      height: 5px
      background: #F6B26D
  #introduce
    padding: 0 15px
    margin-top: 130px
    .it_left
      +shape($w:50%,$fl:left)
      h3
        +im_txt($mar: 0 0 17px 0,$fz:18px,$cl:#707070)
      .txt_script
        margin-top: 55px
        color: #707070
        line-height: 1.5
    .it_right
      +shape($w:50%,$fl:left)
      padding: 0 15px
      #img_intro
        padding: 0 40px
        .it_img
          text-align: center
          outline: none
          img
            border-radius: 10px
        
  #main_pd
    margin-top: 150px
    .it_main
      +shape($w:33.33%,$fl:left)
      padding: 15px 
      .ct_itm
        +transition(all 300ms ease-in-out)
        .img_it
          margin-bottom: 15px
          overflow: hidden
          img
            width: 100%
            +transition(all 1600ms ease-in-out)
        .txt_it
          text-align: center
          margin-bottom: 20px
          h3
            font-size: 36px
            font-family: UTM-AVOBOLD
            margin-bottom: 7px
          p
            font-size: 16px
            color: #707070
            line-height: 1.5
            margin-bottom: 12px
          a 
            color: #F6B26D
            display: inline-block
            i
              display: inline-block
        &:hover
          transform: translateY(-10px)
          .img_it
            img
              transform: scale(1.3)
  .block_title
      text-align: center
      h3
        +im_txt($mar: 0 0 17px 0,$fz:18px,$cl:#707070)
        letter-spacing: 5px
      .tt_section
        &:after
          +position(absolute,$l:0,$r:0,$b:-30px)
          +shape($w:65px,$h:5px,$bdr:#F6B26D)
          content: ''
          margin: 0 auto
      .ds_section
        +im_txt($mar: 60px 0 0 0,$fz:16px,$cl:#707070)
      nav
        margin: 30px 0 45px 0
        ul
          li
            +shape($w:140px,$h:40px)
            display: inline-block
            padding: 0 10px
            a
              display: inline-block
              padding-top: 11px
              +shape($w:100%,$h:100%,$bk:#fff,$clt:#707070,$bdr:5px)
              transition: all 300ms
              &:hover
                +shape($w:100%,$h:100%,$bk:#F6B26D,$clt:#fff,$bdr:5px)
          .active
            a
              +shape($bk:#F6B26D,$clt:#fff)
  #product
    margin-top: 150px
    background: #F6F6F6
    padding: 50px 0
    clear: both
    
  #article
    padding: 50px 0
    .ct_article
      margin-top: 75px
      .it_art
        padding: 0 15px 15px 15px
        +shape($w: 33.33%,$fl:left)
        .img_art
          +shape($ov:hidden)
          img
            +shape($w: 100%)
            +transition(all 500ms ease-in-out)
        .txt_art
          padding: 25px 30px
          transition: all 300ms
          +shadow($sd:0px 1px 10px -1px rgba(0,0,0,0.16))
          h3
            +font($fz:12px,$cl:#B7B7B7)
          h5
            +font($fz:12px,$cl:#B7B7B7)
            margin: 20px 0 25px 0
            i
              display: inline-block
              +font($fz:20px,$cl:#B7B7B7)
              margin-right: 10px
              transform: translateY(3px)
          h4
            margin-top: 15px
            transition: all 300ms
            +font($fz:20px,$cl:#484848,$fm:UTM-AVOBOLD,$lh:1.5)
          p
            +font($fz:16px,$cl:#707070,$lh:1.5)
          span
            margin-top: 20px
            display: inline-block
            +shape($w:108px,$h:40px,$bk:#fff,$clt:#F6B26D,$bdr:20px,$border: solid 1px #F6B26D)
            +font($fz:20px)
            text-align: center
            padding-top: 7px
            transition: all 300ms
            i
              display: inline-block
              transition: all 300ms
              &:before
                +font($fz:16px,$cl: #F6B26D)
            &:hover
              i
                transform: translateX(5px)
        &:hover
          .img_art
            img
              transform: scale(1.2)
          .txt_art
            +shadow($sd:0px 1px 9px 2px rgba(246,178,109,0.3))
            h4
              +font($fz:20px,$cl:#F6B26D,$fm:UTM-AVOBOLD,$lh:1.5)
            span
              +shape($w:108px,$h:40px,$bk:#F6B26D,$clt:#fff,$bdr:20px,$border: solid 1px #F6B26D)
              i
                &:before
                  +font($fz:16px,$cl: #fff)
#action_mn
  +position($pos:fixed,$r: 0,$t: 45%)
  transform: translateY(-50%)
  +font($tc: center)
  cursor: pointer
  z-index: 100
  +shadow($sd: 0px 1px 9px 2px rgba(246,178,109,0.3))
  >ul
    padding: 0px
    >li
      padding: 19px 16px
      position: relative
      i
        +font($fz:22px)
        transition: 500ms ease-in-out
      .icon-Mail-icon
        +font($fz: 16px)
      &:first-child
        &:before
          +position($pos: absolute,$b: 0, $l: 0, $r: 0)
          content: ''
          +shape($w: 70%,$h: 1px,$bk: #EFEFEF )
          margin: 0 auto
      &:nth-child(2)
        &:before
          +position($pos: absolute,$b: 0, $l: 0, $r: 0)
          content: ''
          +shape($w: 70%,$h: 1px,$bk: #EFEFEF )
          margin: 0 auto
      ul
        +position($pos: absolute,$t: 0,$l: -237px)
        +shape($w: 236px,$bk: #fff)
        +shadow($sd: 0px 1px 9px 2px rgba(246,178,109,0.3))
        padding: 12px 10px
        display: none
        >li
          +font($fz: 16px,$tc: left)
          margin-bottom: 12px
          p
            span
              +font($fm: UTM-AVOBOLD )
      .icon_social
        +shape($bk: none)
        +shadow($sd: unset)
        padding: 0
        li
          float: right
          +shape($bk: #fff)
          padding: 16px
          +shadow($sd: 0px 1px 9px 2px rgba(246,178,109,0.3))
      &:hover
        i
          -webkit-transform: scale(1.3)
          transform: scale(1.3)
        ul
          display: block    
#action_moblie
    display: none
#cate_pduct
    margin-top: 80px
    .it_cate
      margin-bottom: 50px
      float: left
      .img_cate
        +shape($w:75%,$fl:left)
        padding: 0 15px
      .txt_cate
        +shape($w:25%,$fl:left)
        padding: 0 15px
        h3
          +font($fz: 36px,$fm: UTM-AVOBOLD)
          margin-bottom: 20px
        ul
          li
            margin-bottom: 15px
            a
              +font($fz: 16px,$cl:#2E2E2E)
        h4
          margin-top: 20px
          +font($fz: 16px,$fm: UTM-AVO,$cl:#F6B26D)
          i
            +font($fz: 14px)
      &:nth-child(2)
        +shape($w:50%,$fl:left)
        .img_cate
          +shape($w:51%,$fl:left)
        .txt_cate
          +shape($w:49%,$fl:left)
      &:nth-child(3)
        +shape($w:50%,$fl:left)
        .img_cate
          +shape($w:67%,$fl:left)
        .txt_cate
          +shape($w:33%,$fl:left)  
#content_page
  margin-bottom: 30px
footer  
  margin-top: 100px
  background: #F6F6F6
  padding: 45px 0
  .ct_footer
    padding: 0 15px
    .ft_address
      +shape($w:25%,$fl:left )
      .it_ad
        position: relative
        padding-left: 55px
        margin-bottom: 22px
        +font($fz:16px,$cl: #707070,$lh:1.5)
        i
          +position($pos:absolute,$l:0,$t:3px) 
          +font($fz:20px,$cl: #707070)
        p
          span
            +font($fm:UTM-AVOBOLD)
      .log_ft
        margin-bottom: 32px
    .ft_hours
      padding: 50px 0 0 40px
      +shape($w:25%,$fl:left )
      +font($fz:16px,$cl: #707070,$lh:1.5)
      h3
        +font($fz:20px,$cl: #707070,$fm:UTM-AVOBOLD)
        margin-bottom: 25px
      p
        padding-bottom: 15px
        margin-bottom: 17px
        border-bottom: solid 1px #707070
        &:last-child
          border: none
    .ft_page
      +shape($w:17%,$fl:left )
      +font($fz:16px,$cl: #707070,$lh:1.5)
      padding: 50px 0 0 55px
      h3
        +font($fz:20px,$cl: #707070,$fm:UTM-AVOBOLD)
        margin-bottom: 25px
      p
        +font($cl: #707070)
        margin-bottom: 8px
    .ft_fanpage
      +shape($w:33%,$fl:left )
      padding: 50px 0 0 15px
      h3
        +font($fz:20px,$cl: #707070,$fm:UTM-AVOBOLD,$lh:1.5)
        margin-bottom: 28px
      .fb-page
        +shape($w:100%!important,$h:160px!important)
        span
          +shape($w:100%!important,$h:160px!important)
          iframe
            +shape($w:100%!important,$h:160px!important)

#under

  .it_pd
    +shape($w:25%)
    .ct_itpd
      .img_it
        .hv_txt
          p
            span
              text
                +shape($w:100px)
                left: -14px
      .txt_it
        padding-top: 15px
        text-align: center
        h3
          +font($fz:19px)
        .price_pd
          margin-top: 10px
          span
            +font($fz:19px)
          button
            display: none
  .title_pg
    +shape($w:766px,$h:186px)
    margin: 0 auto
    background: url('../images/smoke.png')
    background-size: cover
    background-position: center center
    position: relative
    +font($fz: 20px,$tc:center, $cl: #fff ,$fm: UTM-AVOBOLD,$lt:4px)
    span
      +adjust_mid($pos:absolute,$cord:y)
      left: 0
      right: 0
      margin: 0 auto
  .tab_pd
    padding: 0 15px
    >.list_tab
      .slick-list 
        li
          +shape($w:16.666%,$fl:left,$bk:#F6F6F6)
          a
            +font($fz: 14px,$tc:center,$cl:#2E2E2E)
            display: block
            padding: 25px 0
          &:hover
            +shape($bk:#F6B26D)
            a
              +font($cl:#fff)
        .active
          +shape($bk:#F6B26D)
          a
            +font($cl:#fff)
  .block_prd
    .tt_block
        padding: 65px 15px 35px 15px
        text-align: center
        h2
          +font($fz:32px,$fm:UTM-AVOBOLD)
          position: relative
          &:after
            content: ''
            margin: 0 auto
            +position($pos:absolute,$l:0,$r:0,$t: -30px)
            +shape($w:60px,$h:7px,$bk:#F6B26D)
  .pd_detail
    margin-top: 45px
    .img_detail
      +shape($w:50%,$fl:left)
      padding: 0 50px
      .img_zoom_container
        position: relative
        >img
          width: 100%
        .img_zoom_lens
          position: absolute
          padding-top: 22px
          +font($fz: 24px,$cl: #fff,$tc: center)
          +shape($w:70px,$h:70px,$bdr: 50%,$bk:rgba(246,178,109,0.6))
        .img_zoom_result 
          z-index: -1
          +position($pos:absolute,$r: -180px,$t:30px)
          +shape($w:250px,$h:250px,$border: 3px solid #fff,$bdr: 50%,$opa:0)
        &:hover
          .img_zoom_result 
            z-index: 30
            +shape($opa: 1)
      .thum_imgpd
        margin-top: 16px
        margin-left: -11px
        margin-right: -11px
        .icon-Arrow-left
          +position($pos: absolute,$l:-20px)
        .icon-Arrow-right
          +position($pos: absolute,$r:-20px)
        .it_img
          padding: 0 6px
          outline: none
          img
            +shape($border: solid 5px #fff)
            transition: all 500ms
          &:hover
            img
              +shape($border: solid 5px #F6B26D)
        .slick-current
          img
            +shape($border: solid 5px #F6B26D)
    .imfor_detail
      +shape($w:50%,$fl:left)
      padding-left: 40px
      h3
        +font($fz:24px,$fm:UTM-AVOBOLD,$cl:#484848)
      .code_pd
        margin: 20px 0 10px 0
        +font($fz:16px,$cl:#484848)
      .price_pd
        +font($fz:30px,$fm:UTM-AVOBOLD,$cl:#F6B26D)
      .descript
        margin-top: 15px
        padding-top: 15px
        border-top: solid 1px #E8E8E8
        p
          margin-bottom: 10px
          +font($fz:16px,$cl:#484848,$lh:1.7)
      .choose_color
        padding-left: 45px
        position: relative
        .txt_cl
          +position($pos: absolute,$l: 0,$t: 5px)
        .it_cl
          display: inline-block
          margin-bottom: 10px
          input[type="radio"] 
            display: none
          input[type="radio"] + label span 
            display: inline-block
            padding: 7px 15px 0 15px
            margin: 0 10px 0 0
            cursor: pointer
            +shape($w:auto,$h: 35px,$border: 1px solid #2E2E2E,$bk: #fff,$bdr: 5px)
          input[type="radio"]:checked + label span 
            border: 1px solid #fac4a9
            color: #f5851f
          &:first-child
            padding-left: 0px
      .change_total
        margin-top: 20px
        input
          margin-left: 40px
          +font($tc: center,$fz: 20px)
          +shape($w: 65px,$h: 38px,$border: solid 1px #2E2E2E,$outline: none,$bdr: 5px)
      .buy_cart
        margin-top: 22px
        button
          padding: 10px 20px 
          margin-right: 8px
          cursor: pointer
          +shape($border:solid 1px #2E2E2E,$bk:#fff,$clt:#484848,$bdr: 5px,$outline: none)
          +font($fz:20px,$fm:UTM-AVOBOLD)
          &:hover
            +shape($bk:#2E2E2E,$clt:#fff)
    .method_use
      padding: 0 15px
      margin-top: 40px
      .tab_point
        border-bottom: solid 1px #E8E8E8
        li
          display: inline-block
          margin-right: 15px
          padding-bottom: 10px
          cursor: pointer
          +font($fm:UTM-AVOBOLD)
        .active
          border-bottom: solid 2px #F6B26D
      .tab_im
        margin-top: 20px
        .it_tab
          display: none
          p
            +font($fz: 16px,$cl:#484848,$lh:1.4)
            margin-bottom: 15px
        .active
          display: block
      .node
        margin-top: 45px
        font-style: italic
        +font($fz:16px,$cl:#F6B26D,$lh:1.5)
        position: relative
        &:after
          content: ''
          +position($pos:absolute,$l:0,$t: -17px)
          +shape($w:60px,$h:3px,$bk:#F6B26D)
  p
    line-height: 1.25em
  .under-ttl
    position: relative
    font-size: 24px
    color: #fff
    +shape(730px,170px)
    margin: 0 auto 30px  
    background: url('../images/under-ttl.png') center/contain no-repeat
    span
      font-family: UTM-AVO
      display: inline-block
      +adjust_mid(relative)      
  
  .hd_content
    padding: 20px 0

    &.-review-page
      width: 1140px
      margin: 0 auto
      overflow: hidden
        
      .breadcrumb
        width: auto
        float: left

  .main_content
    width: 1140px
    margin: 0 auto
    
  .breadcrumb
    +unlist
    width: 1140px
    margin: 0 auto
    margin-top: 45px

    li
      position: relative
      display: inline-block
      +unlist
      vertical-align: middle 
      color: $cl_txt      
      &:after
        content: '/'
        display: inline-block        

      &:first-child
        a
          margin-left: 0

      &:last-child
        margin-left: 15px
        &:after
          display: none
        a
          margin-right: 0    

    a
      display: inline-block
      text-decoration: none
      color: $color_gray_normal
      padding: 10px 0
      margin: 0 15px

      &:hover
        color: $cl_txt
    //end .breadcrumb
  //end breadcrumb

  .blog-small-title
    display: block
    font-size: 12px
    color: $color_gray_normal

  .blog-title
    display: block
    font-size: 18px    
    margin-top: 15px
    a
      text-decoration: none
      color: $cl_txt
      line-height: 24px

  .prevent-event-pc
      cursor: default

  .blog-post-time
    display: block
    font-size: 12px
    color: $color_gray_normal
    margin-top: 20px
    &:before
      position: relative
      margin-right: 10px
      font-size: 16px   
      top: 2px

  .blog-article
    color: $cl_txt
    margin-top: 20px
    max-height: 200px
    overflow: hidden

  .post-btn
    display: inline-block
    text-align: center
    text-decoration: none
    font-size: 14px
    padding: 10px 20px
    border: 1px solid $color_orange_light
    color: $color_orange_light
    margin-top: 30px
    border-radius: 50px
    &:hover
      background: $color_orange_light
      color: #fff
      &:after
        border-color: #fff
    &:after
      content: ''
      display: inline-block
      position: relative
      +adjust_mid(relative,"y")
      width: 12px
      height: 12px        
      border-top: 1px solid $color_orange_light
      border-right: 1px solid $color_orange_light
      +transform(rotate(45deg))
      margin-left: 5px

  .blog_wrapper    
    padding: 3px
    overflow: hidden

  .main-blog_post
    overflow: hidden
    margin-bottom: 20px
    .blog-image
      float: right
      max-width: 700px

    .blog-article-box
      float: left
      width: 400px 

    .blog-title
      font-size: 24px
      margin-top: 20px
      a
        line-height: 29px     

    .blog-article
      margin-top: 25px          
  //end main-blog-post

  .sub-blog_post
    +shape(358px,450px)
    float: left
    margin-right: 30px
    margin-top: 30px      
    +postShadow
    &:nth-child(3n+4)
      margin-right: 0      
    .blog-image
      position: relative
      +shape(100%,174px) 
      img
        position: absolute
        max-width: 100%
        max-height: 100%        
        +adjust_mid(absolute)

    .blog-article-box
      margin-top: 20px
      padding: 0 20px

    .blog-article
      max-height: 60px        
  //end sub-blog-post

  .under_loadmore
    text-align: center
    margin-top: 30px
    a
      text-decoration: none
      font-size: 18px
      color: $color_orange_light
      font-weight: 400
      &:hover
        text-decoration: underline 

  .blog-detail
    &__title
      display: block
      font-size: 22px      

    &__post-time
      font-size: 12px
      color: $color_gray_normal
      margin-top: 15px
      &:before
        position: relative
        top: 1px
        margin-right: 10px

    &__content
      margin: 20px 0 50px

    &__article
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0

    &__main-image
      margin-bottom: 30px

    &__sub-images
      overflow: hidden
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0        
      img:first-child
        float: left
      img:last-child
        float: right

    &__slider
      margin-top: 30px

    &__list
      position: relative
      +unlist
      padding: 0 20px
      li
        +unlist
        outline: none

      [class*="icon-Arrow"]        
        font-size: 40px
        +adjust_mid(absolute,"y")
        cursor: pointer

      .icon-Arrow-left
        left: 0
      .icon-Arrow-right
        right: 0

    &__list-item
      width: 358px
      display: inline-block
      margin: 14.5px
      +postShadow      

      &__content
        padding: 10px

      &__small-title
        display: block
        color: $color_gray_normal
        font-size: 12px

      &__title
        display: block
        font-size: 18px
        margin-top: 20px
        line-height: 22px
        text-decoration: none
        color: $cl_txt
        outline: none

      &__article
        margin-top: 10px

      &__btn-outer
        margin-top: 20px

      &__btn
        display: inline-block
        text-decoration: none
        color: $color_orange_light
        text-align: center
        padding: 7px 20px
        border-radius: 50px
        border: 1px solid $color_orange_light
        outline: none
        &:hover
          background: $color_orange_light
          color: #fff
  //end blog-detail

  .review-content
    float: right
    text-align: right
    padding: 10px 20% 0 0

    &__title
      font-size: 24px
      color: $color_orange_normal
      display: block
      margin-bottom: 5px

    &__article
      color: $cl_txt
  //end review-content

  .review-slider
    width: 100%    
    position: relative    
    margin: 20px auto 0

    @media screen and (min-width: 1920px)    
      margin-top: 100px


    &__list-outer   
      width: 115%
      +adjust_mid(relative,"x")      
      z-index: 0
      &:before
        content: ''
        display: block
        +position(absolute,$l: 50%, $t: 55%)
        +transform(translate(-50%,-50%))
        z-index: -1
        +shape(539px,569px)
        background: url("../images/review-custom-bg.png") center/contain no-repeat
        opacity: 0.7

        @media screen and (min-width: 1920px)    
          +shape(939px,969px)

    &__list      
      +unlist         
      
      .slick-list
        overflow: unset        
        padding: 0 !important       

    &__list-item
      position: relative
      +unlist
      display: inline-block
      margin: 0 30px
      vertical-align: middle      
      border-radius: 50%
      outline: none
      z-index: 0          
      +transition(.5s ease)     

      @media screen and (min-width: 1920px)    
        margin: 0 50px

      &.slick-center
        +transform(scale(1.3))
        
        .review-slider__img          
          &:before
            opacity: 1  

          img
            opacity: 1

    &__img                  
      +shape(100%,auto)
      z-index: 0
      +transition(0.5s ease)
      padding: 10px
      &:before
        content: ''      
        display: block
        +shape(100%,100%)
        border-radius: 50%
        background: url("../images/review-choose-bg.png") center/cover no-repeat
        +adjust_mid(absolute)
        opacity: 0
        z-index: -1
        +transition(0.7s ease)

      img
        +shape(100%)        
        +transition(.5s ease)
        opacity: .5
    
    &:hover
      .review-slider__arrow-left,.review-slider__arrow-right      
        display: block !important
        opacity: 0.8

    &__arrow-left, &__arrow-right    
      +adjust_mid(absolute)
      display: none !important
      z-index: 10
      +shape(55px,55px)      
      background: #fff
      border-radius: 50%      
      cursor: pointer
      opacity: 0      

      &:before
        font-size: 40px
        +adjust_mid(absolute)

    &__arrow-left
      left: 30%

      &:before
        left: 46%

    &__arrow-right
      left: 70%

      &:before
        left: 55%
  //end review-slider

  .review-feedback
    max-width: 400px
    margin: 110px auto 0    
    z-index: 1
    position: relative
    background: rgba(#fff, 0.7)
    &__customer-info      
      text-align: center      

    &__customer-name      
      display: block
      font-size: 24px
      color: $cl_txt
      margin-bottom: 10px
      line-height: 28px

    &__customer-yearsold
      display: block
      font-size: 14px
      line-height: 19px
      color: $cl_txt

    &__content
      font-size: 14px
      color: $cl_txt
      text-align: center
      line-height: 19px
  //end review-feedback

  .-quote-content
    position: relative
    padding: 10px 30px

    &:before,&:after
      content: ''
      display: block
      position: absolute
      width: 28px
      height: 24px
      background: center/contain no-repeat
    
    &:before
      background-image: url("../images/quote-article-top-left.png")
      top: 0
      left: 0

    &:after
      background-image: url("../images/quote-article-bot-right.png")
      bottom: 0
      right: 0      
  //end -quote-content  

  .cart-detail
    tr,td,th
      box-sizing: border-box
    &__title
      font-size: 22px
      color: $color_orange_normal
      margin-bottom: 30px
      font-weight: 700
      &.-m-top
        margin-top: 10px

    &__tbl
      width: 100%

    &__title-wrap
      border: none      
      vertical-align: middle

    &__title-item
      border: none
      background: $color_gray_light
      padding: 10px
      font-size: 18px
      font-weight: 500  
      color: $color_gray_normal

      &.-large-col
        width: 28%
        text-align: left
      
      &.-normal-col
        width: 12%

      &.-small-col
        width: 15%  
    
    &__info-wrap
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0

    &__info-wrap
      border-bottom: 1px solid $color_gray_normal_light
      td
        padding: 20px 0    

      &:last-child
        border-bottom: none
        td
          padding: 20px 0 10px           

    &__image-col      
      vertical-align: middle
      .cart-detail__remove-cart-item
        display: none
        display: none
        position: static
        text-align: center

      .cart-detail__remove-cart-btn
        padding: 10px 0 0 0        

      img
        +shape(100%, auto)
    
    &__image-outer
      display: inline-block
      +shape(100%, $mah: 150px)
      overflow: hidden

    &__info-group
      table
        width: 100%

    &__info-col
      position: relative      
      padding: 10px 0 50px 20px !important
      width: 28%

    &__product-part-ttl
      display: none
      font-size: 12px
      font-weight: 700
      margin: 10px 0 5px
      color: $color_orange_normal
      &:first-child
        margin-top: 0

    &__product-name
      font-size: 16px      
      color: $cl_txt

    &__product-catelink
      margin-top: 10px
      a
        display: inline-block
        position: relative
        text-decoration: none
        color: $color_gray_normal
        padding: 5px 10px
        
        &:before
          content: ''
          display: block
          +shape(1px,100%)
          +position(absolute, $r: -2px, $t: 0)
          background: $color_gray_normal
          
        &:first-child
          padding-left: 0

        &:last-child
          padding-right: 0

          &:before
            display: none

        &:hover
          color: $cl_txt

    &__product-code
      color: $color_gray_normal
      margin-top: 10px

    &__remove-cart-item
      width: 100%
      +position(absolute,$l:0,$b:0)
      padding: 5px 0

    &__remove-cart-btn
      color: $cl_txt      
      background: none
      border: none
      outline: none
      cursor: pointer
      padding-left: 20px

      span
        display: inline-block
        vertical-align: middle

      .-close-icon
        +shape(15px,15px)
        position: relative
        margin-right: 5px

        &:before,&:after
          content: ''
          display: block
          +shape(100%, 2px)
          background: $color_orange_normal
          +position(absolute,$t: 50%, $l: 50%)
        
        &:before
          +transform(translate(-50%,-50%) rotate(45deg))        

        &:after
          +transform(translate(-50%,-50%) rotate(-45deg))

    &__colour-col
      width: 15%
      color: $cl_txt
      text-align: center
      vertical-align: middle

    &__quanity-col
      width: 15%
      vertical-align: middle    

    &__quantity-input-controls, &__quantity-select-controls 
        display: none
        width: 100%
        text-align: center
        &.is-show
          display: inline-block
        
        .-increase-btn,.-decrease-btn
          position: relative
          padding: 5px
          background: none
          border: none
          text-align: center
          vertical-align: middle
          outline: none
          cursor: pointer
          &:before
            content: ''
            display: inline-block
            +shape(10px, 10px)

        .-increase-btn
          margin-right: 5px
          &:before          
            border-top: 1px solid $cl_txt
            border-right: 1px solid $cl_txt
            +transform(rotate(45deg))
        
        .-decrease-btn
          margin-left: 5px
          &:before          
            border-top: 1px solid $cl_txt
            border-left: 1px solid $cl_txt
            +transform(rotate(-45deg))            

        .-quantity-input
          width: 50px
          border-radius: 5px
          border: 1px solid $cl_txt
          padding: 5px
          outline: none
          text-align: center

    &__quantity-select-controls
      display: none
      &.is-show
        display: inline-block    

        .-quantity-select
          min-width: 50%

    &__price-col
      width: 15%
      color: $cl_txt
      text-align: center
      vertical-align: middle

    &__final-price-col
      width: 15%
      color: $cl_txt
      text-align: center
      vertical-align: middle
  
    &__footer-wrap
      overflow: hidden
      margin-top: 20px
      padding-top: 20px
      white-space: nowrap      
      border-top: 1px solid $color_gray_normal 

    &__footer-left,
    &__footer-center,
    &__footer-right
      float: left
      white-space: normal                 

    &__footer-left
      width: 72%
      padding-right: 10px
      
    &__footer-update-btn
      background: $color_orange_normal
      color: #fff
      text-align: center
      padding: 7px 10px
      min-width: 120px
      border: none
      border-radius: 7px      
      cursor: pointer
      &:hover
        opacity: 0.8

    &__footer-center
      width: 11%
      text-align: right
      padding: 0 10px
      
    &__footer-total-price
      display: inline-block
      color: $cl_txt

    &__footer-right
      width: 17%
      padding-left: 10px
      text-align: center

    &__footer-total-price-number
      color: $color_orange_normal

    &__customer-infor-top
      display: flex
      justify-content: space-between

    &__customer-infor-small-field
      width: 32%
      padding: 10px 
      border: none
      border-left: 2px solid $color_orange_normal       
      color: $color_gray_normal
      background: $color_gray_light      
      border-box: box-sizing
      outline-width: 2px
      &:focus
        outline-color: $color_orange_normal        
    
    &__customer-infor-address
      border: none
      padding: 10px
      width: 100%
      color: $color_gray_normal
      background: $color-gray-light
      border-left: 2px solid $color_orange_normal
      margin-top: 20px            
      outline-width: 2px
      &:focus
        outline-color: $color_orange_normal        

  .custom-line
    position: relative
    +shape(80%, 2px)
    background: $color_gray_normal_light    
    margin: 50px auto
    &:before
      content: ''
      display: block
      +shape(50px, 5px)
      background: $color_orange_normal
      +adjust_mid(absolute)
  //end cart-detail